.hero {
  min-height: 90vh;
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 60px;

  background: linear-gradient(
    135deg,
    #07111f,
    #0f172a
  );
}

.hero-content {
  max-width: 600px;
}

.hero-content h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-content p {
  font-size: 1.2rem;
  color: #94a3b8;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 15px;
}

.primary-btn {
  background: #f59e0b;
  color: black;
  border: none;
  padding: 14px 28px;
  border-radius: 8px;
  font-weight: bold;
}

.secondary-btn {
  background: transparent;
  color: white;
  border: 1px solid #f59e0b;
  padding: 14px 28px;
  border-radius: 8px;
}

.hero-image img {
  width: 650px;
  max-width: 100%;
  border-radius: 20px;
}